<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  
  <ul class="navbar-nav me-auto">
   
   
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
  </li>
    <!-- <li class="nav-item">
        <a routerLink="customers" class="nav-link" routerLinkActive="active">Customer List</a>
    </li> -->
    <li class="nav-item">
      <a routerLink="about" class="nav-link" routerLinkActive="active">About Us</a>
  </li>
    
   
  
 
  </ul> 
</nav>

<div class="container bg-dark mt-3 rounded">
  <br>
  <h2 class="text-light" style="text-align: center;">ABDSS Nursery Plant</h2>
  <hr>  
  <button (click)= " goToLogin()" class="btn btn-secondary mb-3" style=" margin-left: 94%;">Logout</button>
  <div class="card">
    <div class="card-body">
 
<h2>Ordered Successfully!</h2> 
<h3>Order Details</h3> 

<hr/>
<div *ngIf="plant">
 <div>
    <label><b>Plant Name: </b></label> {{plant.commonname}}
  </div>
  <div>
    <label><b>Plant Height: </b></label> {{plant.plantHeight}}
  </div>
  <div>
    <label><b>Plant Temperature: </b></label> {{plant.temperature}}
  </div>
  <div>
    <label><b>Plant Cost: </b></label> Rs.{{plant.plantCost}}
    <button (click)="go()" class="btn mt-3 text-light bg-dark" style="margin-left: 75%;">Go to Home Page</button>
  </div>
 
</div>


    </div>
  </div>
</div>