<div class="container bg-dark mt-3 rounded" style="width: 800px;">
  <br>
  <h2 class="text-light" style="text-align: center;">ABDSS Nursery Plant</h2>
  <hr>  
  <button (click)= " goToLogin()" class="btn btn-secondary mb-3" style=" margin-left: 90%;">Logout</button>
  <div class="card">
    <div class="card-body">
<h3>Create Customer</h3>
<div>
  <form (ngSubmit)="onSubmit()" style="width: 700px;">
    <div class="form-group">
      <label for="name">Customer Name</label>
      <input type="text" class="form-control" id="customerName" required [(ngModel)]="customer.customerName" name="customerName">
    </div>

    <div class="form-group">
      <label for="name">Customer Email</label>
      <input type="text" class="form-control" id="customerEmail" required [(ngModel)]="customer.customerEmail" name="customerEmail">
    </div>

    <button type="submit" class="btn bg-dark text-light" style="margin-top: 10px;">Add</button>
  </form>
  <button (click)="go()" class="btn mt-3 text-light bg-dark">Go to Home Page</button>
</div>

    </div>
  </div>
</div>
