<div class="container bg-dark mt-3 rounded" >
  <br>
  <h2 class="text-light" style="text-align: center;">ABDSS Nursery Plant</h2>
  <hr>  
  <button (click)= " goToLogin()" class="btn btn-secondary mb-3" style=" margin-left: 94%;">Logout</button>
  <div class="card">
    <div class="card-body">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Customer List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers | async">
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerEmail}}</td>
            <td><button (click)="deleteCustomer(customer.customerId)" class="btn text-light bg-dark">Delete</button>
                <button (click)="updateCustomer(customer.customerId)" class="btn  text-light bg-dark" style="margin-left: 10px">Update</button>
                <button (click)="customerDetails(customer.customerId)" class="btn  text-light bg-dark" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="go()" class="btn mt-3 text-light bg-dark">Go to Home Page</button>
    </div>
  </div>
    </div>
  </div>
</div>
 