<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  
  <ul class="navbar-nav me-auto">
   
   
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
  </li>
    <!-- <li class="nav-item">
        <a routerLink="customers" class="nav-link" routerLinkActive="active">Customer List</a>
    </li> -->
    <li class="nav-item">
      <a routerLink="about" class="nav-link" routerLinkActive="active">About Us</a>
  </li>
    
  
 
  </ul> 
</nav>

<div class="container bg-dark mt-3 rounded">
  <br>
  <h2 class="text-light" style="text-align: center;">ABDSS Nursery Plant</h2>
  <hr>  
  <button (click)= " goToLogin()" class="btn btn-secondary mb-3" style=" margin-left: 94%;">Logout</button>
  <div class="card">
    <div class="card-body">
 
  <h2 style="text-align: center;">About Us</h2>

<p>A nursery is a place where plants are propagated and grown to a desired size. Mostly the plants concerned are for gardening, forestry or conservation biology, rather than agriculture. They include retail nurseries, which sell to the general public, wholesale nurseries, which sell only to businesses such as other nurseries and to commercial gardeners, and private nurseries, which supply the needs of institutions or private estates. Some will also work in plant breeding.

    A nurseryman is a person who owns or works in a nursery.[1]
    
    Some nurseries specialize in certain areas, which may include: propagation and the selling of small or bare root plants to other nurseries, growing out plant materials to a saleable size, or retail sales.[2] Nurseries may also specialize in one type of plant: e.g., groundcovers, shade plants, or rock garden plants. Some produce bulk stock, whether seedlings or grafted, of particular varieties for purposes such as fruit trees for orchards, or timber trees for forestry. Some produce stock seasonally, ready in springtime for export to colder regions where propagation could not have been started so early, or to regions where seasonal pests prevent profitable growing early in the season.</p>
    </div>
  </div>
</div>
   
  